.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  & > .content-body {
    flex: 1 1 auto;
    height: 0px;
    overflow: auto;
  }
}

.loading-container {
  @extend .content-container;
  align-items: center;
  justify-content: center;
}

.leaflet-container { 
  z-index: 1;
  background: #000;
}
.leaflet-control-attribution {
  display: none;
}